<%- include("header"); -%>
<h1>This is About Page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptates? Tenetur, labore recusandae necessitatibus veniam dolores quae iusto fugit, cum eius deserunt sequi totam officia accusamus molestiae nulla. Expedita, aliquam.</p>

<%- include("footer"); -%>